.floatRight {
  float: right;
  width: 97.23px;
  height: 38px;
  background-color: #e74742;
  color: white;
  margin: 2px
}
.btn{
  background-color: #e74742;
  color: white;
  margin: 2px
}
.navbar {
  background-color: #280f36;
  /* opacity: 0.8; */
  padding: 5;
}
.homepage {
  color: #fe9c7f;
  font-size: 25px;
  padding-left: 0;
  font-family: "EB Garamond", serif;
  font-size: 36px;
}
.profile, .resources  {
  color: #fe9c7f;
  font-size: 20px;
  padding-left: 0;
  margin: 10px;
  font-family: "EB Garamond", serif;
}
.journal {
  color: #fe9c7f;
  font-size: 20px;
  padding-left: 0;
  font-family: "EB Garamond", serif;
}
.links {
  margin: 0;
  padding: 0;
}
